openapi: 3.2.0
info:
  title: Vantor Accounts API
  version: 1.0.0
  description: 'Operations tagged Accounts across 2 of this provider''s published API definitions: admin-openapi.yml, maxar-technologies-accounts-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.maxar.com/admin/v1
  description: Vantor Hub production
security:
- bearerAuth: []
tags:
- name: Accounts
paths:
  /accounts/me:
    get:
      tags:
      - Accounts
      summary: Get My Account
      operationId: getMyAccount
      responses:
        '200':
          description: Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
    servers:
    - url: https://api.maxar.com/admin/v1
      description: Vantor Hub production
  /accounts/{accountId}:
    get:
      tags:
      - Accounts
      summary: Get Account
      operationId: getAccount
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
    servers:
    - url: https://api.maxar.com/admin/v1
      description: Vantor Hub production
components:
  schemas:
    Account:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        org_type:
          type: string
          enum:
          - Commercial
          - Government
          - Civil
          - Defense
        status:
          type: string
          enum:
          - Active
          - Suspended
          - Trial
        created_at:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- admin-openapi.yml
- maxar-technologies-accounts-api-openapi.yml
