openapi: 3.2.0
info:
  title: Vantor Subscriptions API
  version: 1.0.0
  description: 'Operations tagged Subscriptions across 2 of this provider''s published API definitions: monitoring-openapi.yml, maxar-technologies-subscriptions-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.maxar.com/monitoring/v1
security:
- bearerAuth: []
tags:
- name: Subscriptions
paths:
  /subscriptions:
    get:
      tags:
      - Subscriptions
      summary: List Webhook Subscriptions
      operationId: listSubscriptions
      responses:
        '200':
          description: Subscriptions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subscription'
    post:
      tags:
      - Subscriptions
      summary: Create Webhook Subscription
      operationId: createSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - monitor_id
              - target_url
              - event_types
              properties:
                monitor_id:
                  type: string
                target_url:
                  type: string
                  format: uri
                event_types:
                  type: array
                  items:
                    type: string
                    enum:
                    - new_image
                    - window_closed
                    - detection
                secret:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
    servers:
    - url: https://api.maxar.com/monitoring/v1
components:
  schemas:
    Subscription:
      type: object
      properties:
        id:
          type: string
        monitor_id:
          type: string
        target_url:
          type: string
          format: uri
        event_types:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-refined-from:
- monitoring-openapi.yml
- maxar-technologies-subscriptions-api-openapi.yml
