openapi: 3.2.0
info:
  title: Vantor Items API
  version: 1.0.0
  contact:
    name: Vantor Support
    url: https://hub.vantor.com/docs/contact
  description: 'Operations tagged Items across 2 of this provider''s published API definitions: discovery-openapi.yml, maxar-technologies-items-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.maxar.com/discovery/v1
  description: Vantor Hub Discovery production
security:
- bearerAuth: []
tags:
- name: Items
  description: Retrieve individual STAC items
paths:
  /collections/{collectionId}/items:
    get:
      tags:
      - Items
      summary: List Collection Items
      description: List items belonging to a single collection.
      operationId: listCollectionItems
      parameters:
      - name: collectionId
        in: path
        required: true
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          default: 25
      - name: bbox
        in: query
        schema:
          type: array
          items:
            type: number
      - name: datetime
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Item collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemCollection'
    servers:
    - url: https://api.maxar.com/discovery/v1
      description: Vantor Hub Discovery production
  /collections/{collectionId}/items/{itemId}:
    get:
      tags:
      - Items
      summary: Get Item
      description: Retrieve a single STAC item, including asset hrefs.
      operationId: getItem
      parameters:
      - name: collectionId
        in: path
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
    servers:
    - url: https://api.maxar.com/discovery/v1
      description: Vantor Hub Discovery production
components:
  schemas:
    Asset:
      type: object
      required:
      - href
      properties:
        href:
          type: string
        type:
          type: string
        roles:
          type: array
          items:
            type: string
        title:
          type: string
    Link:
      type: object
      required:
      - href
      - rel
      properties:
        href:
          type: string
        rel:
          type: string
        type:
          type: string
        title:
          type: string
    Item:
      type: object
      required:
      - type
      - id
      - geometry
      - properties
      properties:
        type:
          type: string
          enum:
          - Feature
        stac_version:
          type: string
        id:
          type: string
        collection:
          type: string
        bbox:
          type: array
          items:
            type: number
        geometry:
          type: object
        properties:
          $ref: '#/components/schemas/ItemProperties'
        assets:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Asset'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    ItemProperties:
      type: object
      properties:
        datetime:
          type: string
          format: date-time
        platform:
          type: string
          example: WorldView-3
        instruments:
          type: array
          items:
            type: string
        gsd:
          type: number
          description: Ground sample distance in metres
        cloud_cover:
          type: number
        off_nadir:
          type: number
        sun_elevation:
          type: number
    ItemCollection:
      type: object
      required:
      - type
      - features
      properties:
        type:
          type: string
          enum:
          - FeatureCollection
        features:
          type: array
          items:
            $ref: '#/components/schemas/Item'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        numberReturned:
          type: integer
        numberMatched:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- discovery-openapi.yml
- maxar-technologies-items-api-openapi.yml
