openapi: 3.2.0
info:
  title: Vantor Users API
  version: 1.0.0
  description: 'Operations tagged Users across 2 of this provider''s published API definitions: admin-openapi.yml, maxar-technologies-users-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.maxar.com/admin/v1
  description: Vantor Hub production
security:
- bearerAuth: []
tags:
- name: Users
paths:
  /accounts/{accountId}/users:
    get:
      tags:
      - Users
      summary: List Users
      operationId: listUsers
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
    post:
      tags:
      - Users
      summary: Invite User
      operationId: inviteUser
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUserRequest'
      responses:
        '201':
          description: User invited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    servers:
    - url: https://api.maxar.com/admin/v1
      description: Vantor Hub production
  /accounts/{accountId}/users/{userId}:
    get:
      tags:
      - Users
      summary: Get User
      operationId: getUser
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    delete:
      tags:
      - Users
      summary: Remove User
      operationId: removeUser
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Removed
    servers:
    - url: https://api.maxar.com/admin/v1
      description: Vantor Hub production
components:
  schemas:
    InviteUserRequest:
      type: object
      required:
      - email
      - role
      properties:
        email:
          type: string
          format: email
        role:
          type: string
          enum:
          - Admin
          - Member
          - Viewer
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
          enum:
          - Owner
          - Admin
          - Member
          - Viewer
        status:
          type: string
          enum:
          - Invited
          - Active
          - Disabled
        created_at:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- admin-openapi.yml
- maxar-technologies-users-api-openapi.yml
