openapi: 3.2.0
info:
  title: Vantor WFS API
  version: 1.0.0
  description: 'Operations tagged WFS across 2 of this provider''s published API definitions: streaming-openapi.yml, maxar-technologies-wfs-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://securewatch.maxar.com/earthservice
  description: Maxar SecureWatch
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: WFS
paths:
  /wfsaccess:
    get:
      tags:
      - WFS
      summary: WFS GetCapabilities or GetFeature
      operationId: wfsAccess
      parameters:
      - name: service
        in: query
        required: true
        schema:
          type: string
          enum:
          - WFS
      - name: request
        in: query
        required: true
        schema:
          type: string
          enum:
          - GetCapabilities
          - GetFeature
          - DescribeFeatureType
      - name: version
        in: query
        schema:
          type: string
          default: 2.0.0
      - name: typeNames
        in: query
        schema:
          type: string
      - name: bbox
        in: query
        schema:
          type: string
      - name: outputFormat
        in: query
        schema:
          type: string
          example: application/json
      - name: count
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: WFS response
          content:
            application/json: {}
            application/xml: {}
    servers:
    - url: https://securewatch.maxar.com/earthservice
      description: Maxar SecureWatch
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    apiKeyAuth:
      type: apiKey
      in: query
      name: connectid
x-refined-from:
- streaming-openapi.yml
- maxar-technologies-wfs-api-openapi.yml
