openapi: 3.2.0
info:
  title: Vantor API Keys API
  version: 1.0.0
  description: 'Operations tagged API Keys across 2 of this provider''s published API definitions: admin-openapi.yml, maxar-technologies-api-keys-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.maxar.com/admin/v1
  description: Vantor Hub production
security:
- bearerAuth: []
tags:
- name: API Keys
paths:
  /accounts/{accountId}/api-keys:
    get:
      tags:
      - API Keys
      summary: List API Keys
      operationId: listApiKeys
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: API keys
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKey'
    post:
      tags:
      - API Keys
      summary: Create API Key
      operationId: createApiKey
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                scopes:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
    servers:
    - url: https://api.maxar.com/admin/v1
      description: Vantor Hub production
  /accounts/{accountId}/api-keys/{keyId}:
    delete:
      tags:
      - API Keys
      summary: Revoke API Key
      operationId: revokeApiKey
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: keyId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Revoked
    servers:
    - url: https://api.maxar.com/admin/v1
      description: Vantor Hub production
components:
  schemas:
    ApiKey:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        prefix:
          type: string
        secret:
          type: string
          description: Returned only on create
        scopes:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        last_used_at:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- admin-openapi.yml
- maxar-technologies-api-keys-api-openapi.yml
