openapi: 3.2.0
info:
  title: Vantor Collections API
  version: 1.0.0
  description: 'Operations tagged Collections across 3 of this provider''s published API definitions: discovery-openapi.yml, maxar-technologies-collections-api-openapi.yml, tasking-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.maxar.com/discovery/v1
  description: Vantor Hub Discovery production
- url: https://api.maxar.com/tasking/v1
security:
- bearerAuth: []
tags:
- name: Collections
  description: Browse and inspect collections
paths:
  /collections:
    get:
      tags:
      - Collections
      summary: List Collections
      description: Enumerate the collections available to the caller (WorldView, Legion, Vivid, etc).
      operationId: listCollections
      responses:
        '200':
          description: Collection list
          content:
            application/json:
              schema:
                type: object
                properties:
                  collections:
                    type: array
                    items:
                      $ref: '#/components/schemas/Collection'
    servers:
    - url: https://api.maxar.com/discovery/v1
      description: Vantor Hub Discovery production
  /collections/{collectionId}:
    get:
      tags:
      - Collections
      summary: Get Collection
      description: Retrieve metadata for a single collection.
      operationId: getCollection
      parameters:
      - name: collectionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Collection metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
    servers:
    - url: https://api.maxar.com/discovery/v1
      description: Vantor Hub Discovery production
  /tasks/{taskId}/collections:
    servers:
    - url: https://api.maxar.com/tasking/v1
    get:
      tags:
      - Collections
      summary: List Collections For Task
      operationId: listTaskCollections
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Collections
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Collection_2'
components:
  schemas:
    Collection:
      type: object
      required:
      - id
      - type
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - Collection
        title:
          type: string
        description:
          type: string
        license:
          type: string
        extent:
          type: object
        providers:
          type: array
          items:
            type: object
    Collection_2:
      type: object
      properties:
        id:
          type: string
        task_id:
          type: string
        platform:
          type: string
        collected_at:
          type: string
          format: date-time
        catalog_id:
          type: string
        cloud_cover:
          type: number
        off_nadir:
          type: number
    Collection_3:
      type: object
      properties:
        id:
          type: string
        task_id:
          type: string
        platform:
          type: string
        collected_at:
          type: string
          format: date-time
        catalog_id:
          type: string
        cloud_cover:
          type: number
        off_nadir:
          type: number
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- discovery-openapi.yml
- maxar-technologies-collections-api-openapi.yml
- tasking-openapi.yml
