openapi: 3.2.0
info:
  title: Vantor Orders API
  version: 1.0.0
  description: 'Operations tagged Orders across 2 of this provider''s published API definitions: ordering-openapi.yml, maxar-technologies-orders-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.maxar.com/order/v1
security:
- bearerAuth: []
tags:
- name: Orders
paths:
  /orders:
    get:
      tags:
      - Orders
      summary: List Orders
      operationId: listOrders
      parameters:
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - in_progress
          - complete
          - failed
          - cancelled
      - name: limit
        in: query
        schema:
          type: integer
          default: 25
      responses:
        '200':
          description: Orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
    post:
      tags:
      - Orders
      summary: Place Order
      operationId: placeOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
    servers:
    - url: https://api.maxar.com/order/v1
  /orders/{orderId}:
    get:
      tags:
      - Orders
      summary: Get Order
      operationId: getOrder
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
    delete:
      tags:
      - Orders
      summary: Cancel Order
      operationId: cancelOrder
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Cancelled
    servers:
    - url: https://api.maxar.com/order/v1
components:
  schemas:
    Order:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          enum:
          - pending
          - in_progress
          - complete
          - failed
          - cancelled
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        cost:
          type: number
        currency:
          type: string
        items:
          type: array
          items:
            type: object
            properties:
              catalog_id:
                type: string
              status:
                type: string
    OrderRequest:
      type: object
      required:
      - aoi
      - items
      properties:
        name:
          type: string
        aoi:
          type: object
          description: GeoJSON geometry
        items:
          type: array
          items:
            type: object
            properties:
              catalog_id:
                type: string
              collection:
                type: string
        delivery:
          type: object
          properties:
            type:
              type: string
              enum:
              - s3
              - gcs
              - download
            destination:
              type: string
        output_format:
          type: string
          enum:
          - geotiff
          - jpeg2000
          - nitf
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-refined-from:
- ordering-openapi.yml
- maxar-technologies-orders-api-openapi.yml
