openapi: 3.2.0
info:
  title: Vantor Events API
  version: 1.0.0
  description: 'Operations tagged Events across 2 of this provider''s published API definitions: monitoring-openapi.yml, maxar-technologies-events-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.maxar.com/monitoring/v1
security:
- bearerAuth: []
tags:
- name: Events
paths:
  /monitors/{monitorId}/events:
    get:
      tags:
      - Events
      summary: List Events For Monitor
      operationId: listEvents
      parameters:
      - name: monitorId
        in: path
        required: true
        schema:
          type: string
      - name: since
        in: query
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        schema:
          type: integer
          default: 25
      responses:
        '200':
          description: Events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
    servers:
    - url: https://api.maxar.com/monitoring/v1
components:
  schemas:
    Event:
      type: object
      properties:
        id:
          type: string
        monitor_id:
          type: string
        type:
          type: string
          enum:
          - new_image
          - window_closed
          - detection
        occurred_at:
          type: string
          format: date-time
        payload:
          type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-refined-from:
- monitoring-openapi.yml
- maxar-technologies-events-api-openapi.yml
