openapi: 3.2.0
info:
  title: Vantor WMS API
  version: 1.0.0
  description: 'Operations tagged WMS across 2 of this provider''s published API definitions: streaming-openapi.yml, maxar-technologies-wms-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://securewatch.maxar.com/earthservice
  description: Maxar SecureWatch
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: WMS
paths:
  /wmsaccess:
    get:
      tags:
      - WMS
      summary: WMS GetCapabilities or GetMap
      description: OGC Web Map Service entry point. Use `request=GetCapabilities` to list layers or `request=GetMap` to render an image of an area of interest.
      operationId: wmsAccess
      parameters:
      - name: service
        in: query
        required: true
        schema:
          type: string
          enum:
          - WMS
      - name: request
        in: query
        required: true
        schema:
          type: string
          enum:
          - GetCapabilities
          - GetMap
          - GetFeatureInfo
      - name: version
        in: query
        schema:
          type: string
          default: 1.3.0
      - name: layers
        in: query
        schema:
          type: string
      - name: bbox
        in: query
        schema:
          type: string
      - name: crs
        in: query
        schema:
          type: string
          example: EPSG:4326
      - name: width
        in: query
        schema:
          type: integer
      - name: height
        in: query
        schema:
          type: integer
      - name: format
        in: query
        schema:
          type: string
          example: image/jpeg
      responses:
        '200':
          description: WMS response
          content:
            image/jpeg: {}
            image/png: {}
            application/xml: {}
    servers:
    - url: https://securewatch.maxar.com/earthservice
      description: Maxar SecureWatch
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    apiKeyAuth:
      type: apiKey
      in: query
      name: connectid
x-refined-from:
- streaming-openapi.yml
- maxar-technologies-wms-api-openapi.yml
