openapi: 3.2.0
info:
  title: Vantor Tasks API
  version: 1.0.0
  description: 'Operations tagged Tasks across 2 of this provider''s published API definitions: tasking-openapi.yml, maxar-technologies-tasks-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.maxar.com/tasking/v1
security:
- bearerAuth: []
tags:
- name: Tasks
paths:
  /tasks:
    get:
      tags:
      - Tasks
      summary: List Tasking Requests
      operationId: listTasks
      parameters:
      - name: status
        in: query
        schema:
          type: string
          enum:
          - submitted
          - planned
          - in_progress
          - complete
          - cancelled
          - failed
      - name: limit
        in: query
        schema:
          type: integer
          default: 25
      responses:
        '200':
          description: Tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
    post:
      tags:
      - Tasks
      summary: Submit Tasking Request
      operationId: submitTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskRequest'
      responses:
        '201':
          description: Task submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
    servers:
    - url: https://api.maxar.com/tasking/v1
  /tasks/{taskId}:
    get:
      tags:
      - Tasks
      summary: Get Task
      operationId: getTask
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
    delete:
      tags:
      - Tasks
      summary: Cancel Task
      operationId: cancelTask
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Cancelled
    servers:
    - url: https://api.maxar.com/tasking/v1
components:
  schemas:
    TaskRequest:
      type: object
      required:
      - aoi
      - start
      - end
      properties:
        name:
          type: string
        aoi:
          type: object
          description: GeoJSON geometry
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        priority:
          type: string
          enum:
          - Standard
          - Priority
          - Rush
          - Select
        platforms:
          type: array
          items:
            type: string
            enum:
            - WorldView-1
            - WorldView-2
            - WorldView-3
            - GeoEye-1
            - WorldView-Legion
        max_cloud_cover:
          type: number
        max_off_nadir:
          type: number
        gsd:
          type: number
    Task:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          enum:
          - submitted
          - planned
          - in_progress
          - complete
          - cancelled
          - failed
        priority:
          type: string
        created_at:
          type: string
          format: date-time
        windows:
          type: array
          items:
            type: object
            properties:
              start:
                type: string
                format: date-time
              end:
                type: string
                format: date-time
              platform:
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-refined-from:
- tasking-openapi.yml
- maxar-technologies-tasks-api-openapi.yml
