openapi: 3.2.0
info:
  title: Vantor Monitors API
  version: 1.0.0
  description: 'Operations tagged Monitors across 2 of this provider''s published API definitions: monitoring-openapi.yml, maxar-technologies-monitors-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.maxar.com/monitoring/v1
security:
- bearerAuth: []
tags:
- name: Monitors
paths:
  /monitors:
    get:
      tags:
      - Monitors
      summary: List Monitors
      operationId: listMonitors
      responses:
        '200':
          description: Monitors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Monitor'
    post:
      tags:
      - Monitors
      summary: Create Monitor
      operationId: createMonitor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitorRequest'
      responses:
        '201':
          description: Monitor created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
    servers:
    - url: https://api.maxar.com/monitoring/v1
  /monitors/{monitorId}:
    get:
      tags:
      - Monitors
      summary: Get Monitor
      operationId: getMonitor
      parameters:
      - name: monitorId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Monitor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
    delete:
      tags:
      - Monitors
      summary: Delete Monitor
      operationId: deleteMonitor
      parameters:
      - name: monitorId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
    servers:
    - url: https://api.maxar.com/monitoring/v1
components:
  schemas:
    Monitor:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          enum:
          - active
          - paused
        created_at:
          type: string
          format: date-time
        cadence:
          type: string
    MonitorRequest:
      type: object
      required:
      - name
      - aoi
      properties:
        name:
          type: string
        aoi:
          type: object
        cadence:
          type: string
          enum:
          - daily
          - weekly
          - on_new_image
        filters:
          type: object
          properties:
            max_cloud_cover:
              type: number
            platforms:
              type: array
              items:
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-refined-from:
- monitoring-openapi.yml
- maxar-technologies-monitors-api-openapi.yml
