openapi: 3.2.0
info:
  title: Vantor Estimates API
  version: 1.0.0
  description: 'Operations tagged Estimates across 2 of this provider''s published API definitions: ordering-openapi.yml, maxar-technologies-estimates-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.maxar.com/order/v1
security:
- bearerAuth: []
tags:
- name: Estimates
paths:
  /estimates:
    post:
      tags:
      - Estimates
      summary: Estimate Order Cost
      operationId: estimateOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
      responses:
        '200':
          description: Estimate
          content:
            application/json:
              schema:
                type: object
                properties:
                  estimated_cost:
                    type: number
                  currency:
                    type: string
                    example: USD
                  area_km2:
                    type: number
                  rate_per_km2:
                    type: number
    servers:
    - url: https://api.maxar.com/order/v1
components:
  schemas:
    OrderRequest:
      type: object
      required:
      - aoi
      - items
      properties:
        name:
          type: string
        aoi:
          type: object
          description: GeoJSON geometry
        items:
          type: array
          items:
            type: object
            properties:
              catalog_id:
                type: string
              collection:
                type: string
        delivery:
          type: object
          properties:
            type:
              type: string
              enum:
              - s3
              - gcs
              - download
            destination:
              type: string
        output_format:
          type: string
          enum:
          - geotiff
          - jpeg2000
          - nitf
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-refined-from:
- ordering-openapi.yml
- maxar-technologies-estimates-api-openapi.yml
